@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #110f0f;
}

body {
  background-color: #1f1f1f;
  color: #f1f1f1;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
}

.st-toolbar {
  background-color: #d4d4d4 !important;
}

.st-area {
  color: #1f1f1f;
  border-top: 1px solid #1f1f1f !important;
  background-color: #d4d4d4 !important;
}
