.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    margin-bottom: 50px;
    font-weight: 600;
    color: #404eed;
    font-size: 24px;
  }
  .login-inner {
    width: 450px;
    max-width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 0px 0px 67px 0px rgba(199, 199, 199, 1);
    app-main-btn {
      display: block;
      margin: 15px 20px 0;
    }
  }
  .sign {
    font-size: 13px;
    color: #404eed;
    margin: 10px 20px 0;
    display: block;
  }
  .error-message {
    font-size: 13px;
    color: #ed4040;
    margin: 10px 20px 0;
    display: block;
  }
}
