@if (blogs.length != 0) {
<table class="table">
  <tr>
    <th>Blog İd</th>
    <th>Blog Fotoğrafı</th>
    <th>Blog Başlığı</th>
    <th>Blog Yazarı</th>
    <th>Blog Tarihi</th>
    <th>Blog Düzenle & Sil</th>
  </tr>
  @for(blog of blogs; track $index) {
  <tr>
    <td>{{ blog.id }}</td>
    <td>
      <img [src]="blog.imageUrl" [alt]="blog.title" />
    </td>
    <td>{{ blog.title }}</td>
    <td>{{ blog.author }}</td>
    <td>{{ blog.date }}</td>
    <td>
      <a [routerLink]="'/update-blog/' + blog.id" class="edit"
        ><i class="fa-regular fa-pen-to-square"></i
      ></a>
      <button class="clear" (click)="deleteBlog(blog.id)">
        <i class="fa-solid fa-trash"></i>
      </button>
    </td>
  </tr>
  }
</table>
} @else {
<h2>Blog Bulunamadı</h2>
}
