<div class="card">
  @for(blog of blogs; track $index) {
  <a [routerLink]="'/blog/' + blog.id" class="card-inner">
    <img [src]="blog.imageUrl" [alt]="blog.title" class="card-img" />
    <div class="card-info">
      <p>
        <i class="fa-solid fa-calendar-days"></i>
        {{ blog.date }}
      </p>
      <p>
        <i class="fa-regular fa-user"></i>
        {{ blog.author }}
      </p>
    </div>
    <div class="card-text">
      <a [routerLink]="'/blog/' + blog.id" class="card-title">{{
        blog.title
      }}</a>
    </div>
    <div class="card-footer">
      <a [routerLink]="'/blog/' + blog.id" class="card-route"
        >Devamını Oku <i class="fa-solid fa-angle-right"></i
      ></a>
    </div>
  </a>
  }
</div>
